<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NASA API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-5">
        <h3> Mars Rover Photo Search</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/photoSearch}" th:object="${request}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="dateType" class="col-form-label">Date Type</label> 
                                <input type="text" th:field="*{dateType}" class="form-control" 
                                            id="dateType" placeholder="e.g. sol, earth_date" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="dateValue" class="col-form-label">Date Value</label> 
                                <input type="text" th:field="*{dateValue}" class="form-control" 
                                            id="dateValue" placeholder="e.g. 1800 or 2018-04-01" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Rover</label> 
                                <input type="text" th:field="*{name}" class="form-control" 
                                            id="name" placeholder="e.g. curiosity, opportunity, spirit" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="camera" class="col-form-label">Camera</label> 
                                <input type="text" th:field="*{camera}" class="form-control" 
                                            id="camera" placeholder="e.g. chemcam, fhaz, mardi, rhaz" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Search ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>